<?xml version="1.0"?>
<ruleset name="flat-sitcky-vart">
  <description>WordPress coding, documentation and security standards.</description>
  <file>flat-sitcky-vart.php</file>
  <arg name="extensions" value="php"/>
  <arg name="colors"/>
  <rule ref="WordPress"/>
  <config name="minimum_supported_wp_version" value="6.5"/>
  <rule ref="WordPress.WP.I18n">
    <properties><property name="text_domain" type="array"><element value="flat-sitcky-vart"/></property></properties>
  </rule>
  <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
    <properties><property name="prefixes" type="array"><element value="flat_sitcky_vart"/></property></properties>
  </rule>
</ruleset>
